WAYFORPAY_MERCHANT_ACCOUNT=
WAYFORPAY_SECRET_KEY=
WAYFORPAY_MERCHANT_DOMAIN=psy-kvitka.vercel.app
WAYFORPAY_RETURN_URL=https://psy-kvitka.vercel.app/?payment=return
WAYFORPAY_SERVICE_URL=https://psy-kvitka.vercel.app/api/wayforpay-callback
