WAYFORPAY_MERCHANT_ACCOUNT=
WAYFORPAY_SECRET_KEY=
WAYFORPAY_MERCHANT_DOMAIN=psy-kvitka.vercel.app
WAYFORPAY_RETURN_URL=https://psy-kvitka.vercel.app/api/wayforpay-return
WAYFORPAY_SERVICE_URL=https://psy-kvitka.vercel.app/api/wayforpay-callback
GOOGLE_SHEETS_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbxmDfxznd3lRIFKVDMfFtjf382RdAWEolFNJ_YHqX952DXTe9g9cShALyfVp-fLEa6A/exec
